<!DOCTYPE html>
<html>
  <head>
    <title>Laptops</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link disabled"
                href="#"
                tabindex="-1"
                aria-disabled="true"
                >Disabled</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Download Reports</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item"></li>
            <li class="nav-item">
              <a href="{{ url_for('download_invoices') }}" class="nav-link"
                >Download All Invoices (Excel)</a
              >
            </li>
            <li class="nav-item">
              <a href="{{ url_for('download_asset_records') }}" class="nav-link"
                >Download All Asset Records (CSV)</a
              >
            </li>
            <li class="nav-item">
              <a
                href="{{ url_for('download_assignment_history') }}"
                class="nav-link"
                >Download Assignment History (CSV)</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <a href="{{ url_for('add_laptop') }}" class="btn btn-outline-primary"
        >Add Laptop</a
      >
      <form
        method="get"
        action="{{ url_for('list_laptops') }}"
        style="margin-top: 10px"
      >
        <label
          ><input
            type="checkbox"
            name="unassigned"
            value="1"
            {%
            if
            show_unassigned
            %}checked{%
            endif
            %}
            onchange="this.form.submit()"
          />
          Show only unassigned laptops</label
        >
      </form>
      <ul>
        {% for laptop in laptops %}
        <li>
          ID: {{ laptop.id }} | Model: {{ laptop.laptop_model }} | Serial: {{
          laptop.laptop_serial_number }}
          <a href="{{ url_for('laptop_detail', laptop_id=laptop.id) }}"
            >Details</a
          >
          <a href="{{ url_for('edit_laptop', laptop_id=laptop.id) }}">Edit</a>
          <form
            method="post"
            action="{{ url_for('retire_laptop', laptop_id=laptop.id) }}"
            style="display: inline"
          >
            <input
              type="submit"
              value="Retire/Dispose"
              onclick="return confirm('Are you sure?');"
            />
          </form>
        </li>
        {% else %}
        <li>No laptops found.</li>
        {% endfor %}
      </ul>
      <a href="{{ url_for('users') }}">Back to Users</a>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
      ></script>
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        rel="stylesheet"
      />
    </div>
  </body>
</html>
